<div class="reset-password-div">

  <mat-card>

    <mat-card-header>
      <mat-card-title class="app-reset-password-title">
        <!-- {{ 'PASSWORD.RECOVER-PASSWORD' | translate }} -->
        Recover Password
      </mat-card-title>

    </mat-card-header>
    <hr>

    <mat-card-content>

      <p class="app-dialog-filler">In order to protect your account, make sure your password:</p>

      <form [formGroup]="resetPasswordForm">

        <div class="forgot-password-form-field">
          <label for="new-passssword" class="app-reset-password-label">New Password</label>

          <div class="new-password-input-container">
            <input id="new-passssword" class="app-reset-password-field" placeholder="Enter Password" formControlName="password" required
              [type]="passwordVisibility ? 'text' : 'password'">

              <button matSuffix mat-icon-button type="button" (click)="togglePasswordVisibility()">
                <mat-icon class="visibility-icon"> {{ passwordVisibility ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </div>
        </div>

        <div class="forgot-password-form-field">
          <label for="confirm-password" class="app-reset-password-label">Re-enter your New Password</label>

          <div class="confirm-password-input-container">
            <input id="confirm-passssword" class="app-reset-password-field" placeholder="Confirm Password" formControlName="confirmPassword"
              required [type]="confirmPasswordVisibility ? 'text' : 'password'">

              <button matSuffix mat-icon-button type="button" (click)="toggleConfirmPasswordVisibility()">
                <mat-icon class="visibility-icon"> {{ confirmPasswordVisibility ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button> 
            </div> 
        </div>

        <div class="password-mismatch-error" *ngIf="passwordMatchError()">
          Passwords do not match
        </div>

        <button type="button" (click)="changePassword()" [disabled]="isSubmitButtonDisabled()"
          class="send-instructions-button" [attr.aria-label]="'PASSWORD.BUTTONS.SEND-INSTRUCTIONS' | translate"
          mat-raised-button color="primary">
          Change Password
        </button>

      </form>

    </mat-card-content>

  </mat-card>

</div>
