.app-header {
 
  background: #FFFFFF;
  height: 96px;
  border: 1px solid rgb(220,220,220);
  .mat-toolbar {
    // background-image: var(--header-background-image) !important;
    // background-repeat: no-repeat !important;

    .aca-current-user {
      color: var(--theme-foreground-text-color) !important;
    }

    // .adf-toolbar-divider div {
    //   // background-color: var(--theme-foreground-text-color) !important;
    // }
  }
}
.studio-project-list-header {
  box-sizing: content-box;
  height: 30px;
  line-height: 40px;
  padding: 25px 0 35px 15px;
  border: 1px solid var(--theme-studio-background);
  width: 77%;
  margin-left: 23%;

  @media only screen and (max-width: 289px) {
      padding: 25px 0 35px;
  }

  &-title {
      font-size: 20px;
      line-height: 40px;
  }

  &-section {
      display: flex;

      .studio-title-actions {
          display: flex;
          justify-content: space-between;
          width: 100%;
          flex: 1 1 auto;
      }

      .studio-header-vertical {
          height: 32px;
          display: flex;
          margin-top: 2px;
          border: 1px solid rgba(33, 33, 33, 0.12);
      }

      .studio-header-search-bar-inactive {
          float: right;
          display: flex;
          justify-content: center;
          margin-left: 10px;

          .mat-form-field {
              display: none;
          }

          modelingsdk-search-header {
              display: flex;
              align-items: center;

              /* stylelint-disable-next-line */
              .ng-trigger-transitionMessages {
                  transform: translateX(12%) !important;
              }
          }
      }

      .studio-header-search-bar-active {
          width: 100%;

          .adf-input-form-field-divider {
              width: 84%;
          }

          .mat-form-field-underline {
              display: none;
          }

          .adf-search-text-input {
              width: inherit;
          }
      }
  }

  .page-title {
    // margin-left: 5px;
      font-size: 20px;
      line-height: 40px;
  }
  .mat-icon {
      font-size: 20px;
      line-height: 40px;
      margin: 3px;
  }

  &-actions {
      width: 25%;
      display: flex;
      justify-content: flex-end;
      margin-right: 12px;
      align-items: center;
      flex: 1 1 auto;

      .mat-button {
          border-radius: 6px;
          font-family: var(--theme-font-family);
          letter-spacing: 0.25px;
          font-weight: bold;
          font-size: 14px;
      }

      .studio-create-button {
          background: #E8E8E8;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }

      .studio-upload-button {
          background-color: var(--theme-primary-color) !important;
          color: #FFFFFF;
          margin-left: 15px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }

      @media only screen and (max-width: 768px) {
          .studio-create-button.mat-mini-fab.mat-accent {
              background-color: var(--theme-primary-color);
              box-shadow: unset;
          }

          .studio-upload-button.mat-mini-fab.mat-accent {
              background-color: var(--theme-studio-gray-color);
              box-shadow: unset;
          }
      }
  }
}

