/* You can add global styles to this file, and also import other style files */
@import 'app/content-plugin/ui/application';
@import 'app/content-plugin/ui/variables/font-family';

body,
html {
  height: 100%;
  font-family: $default-font-family;
}

body {
  margin: 0;
}


.aca-page-layout .aca-page-layout-header {
  background-color: white !important;
  flex-basis: 96px !important;
  height: 32px !important;
  padding: 32px 24px;
  //border-top: 1px solid black !important;
}

// .aca-page-layout .aca-page-layout-header {
//   height: 32px !important;
//   padding: 32px 24px !important;
//   background-color: aqua !important;

//   adf-breadcrumb {
//     height: 32px !important;
//   }

//   aca-search-input {
//     height: 32px !important;
//   }

//   adf-toolbar {
//     height: 32px !important;
//   }
// }
