.contact_title{
  margin-left: 1rem ;
  margin-top: 1rem;
  background-color: #eee;
}
.contact_label{
  padding-top: 0.6rem;
  margin-bottom: 0.6rem;
  padding-left: 0.5rem;
  color:#4e4c4c;
  font-weight: 600;
}
.mat_divider{
  color:#4e4c4c;
}
.contact_container{
  width: 80%;
  margin: 3rem auto;
}
.contact_details{
  margin-top: 1rem;
}
.contact_row{
  text-align: center;
}
.contact_details_label{
  font-weight: 600;
  color:#4e4c4c;
}
.contact_input_details{
  margin-left: 2rem;
  color:#4e4c4c;
  height: 23px;
    width: 40%;
    border: 2px solid #d7d2d2;
}
.company_title{
  margin-left: 1rem ;
  margin-top: 1rem;
  background-color: #eee;
}
.mandatory_field{
  color:#4e4c4c;
  font-size: 19px;
  font-weight: 500;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
}
.company_label{
  padding-top: 0.6rem;
  margin-bottom: 0.6rem;
  padding-left: 0.5rem;
  color:#4e4c4c;
  font-weight: 600;
}
.company_container{
  width: 80%;
  margin: 3rem auto;
}
.company_row{
  text-align: center;
}
.company_details{
  margin-top: 1rem;
  margin-left: 1.5rem;
}
.company_details_input{
  margin-top: 1rem;
}
.company_details_label{
  font-weight: 600;
  color:#4e4c4c;
}
.company_input_details{
  margin-left: 2rem;
  color:#4e4c4c;
  height: 23px;
    width: 40%;
    border: 2px solid #d7d2d2;
}


