.profile_container{
  margin-top: 1rem;
  overflow: auto;
}
.profile_row{
  width: 100%;
}
.profile_title{
  display: flex;
  margin-left: 2rem;

}
.profile_icon{
  margin-right: 1rem;
}
.profile_general{
  width: 80%;
  margin-left: 2rem;
  display: flex;
  border: 2px solid rgba(157, 113, 113, 0.12);
  border-radius: 1rem;
  padding-left: 1rem;
}
.profile_general_bottom_radius{
 border-bottom-left-radius:0;
 border-bottom-right-radius: 0;
}
.profile_general_div{
  display: flex;
  width: 60%;
  padding-top: 1rem;
}
.general_title{
  margin-left: 0.6rem;
}
.general_edit_btn{
  width:60%;
  text-align: end;
}
.profile_row{
  width: 100%;
  margin: 2rem 0 0 0;
}
.general_edit{
  margin: 0.7rem;
}
.profile_general_dropdown{
 margin-left: 2rem;
 border: 2px solid rgba(0,0,0,.12);
 border-bottom-left-radius: 1rem;
 border-bottom-right-radius: 1rem;
 width: 81.2%;
 padding-top: 0.7rem;
 border-top: none;
 /* margin-top: -0.5rem; */
}
.general_dropdown{
  /* margin-top: 1rem ; */
  padding: 0rem 1rem;
}
.general_dropdown_details{
  display: flex;
}
.profile_general_dropdown_heading{
  color:#4e4c4c;
  width: 18%;
  padding-top: 1rem;
}
.profile_general_dropdown_details{
  padding-top: 1rem;
}
.profile_login_row{
  margin: 2rem 0 0 2rem;
  width: 81.2%;
  border: 2px solid rgba(157, 113, 113, 0.12);
  border-radius: 1rem;
}
.profile_login{
  display: flex;
  padding-left: 1rem;
}
.profile_login_dropdown_details{
  width: 24%;
  height: 25px;
  border: none;
  margin-top: 1rem;
  background-color:#eee ;
}
.profile_login_dropdown_heading_forgot{
  margin-top: 1rem;
  color:#4e4c4c;
  margin-left: 19rem;
}
.profile_company_row{
  margin-top: 2rem;
}
