.app-sidenav {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  // overflow-y: hidden;
 

}
.menu-icon{
  font-size: 24px;
  line-height: 36px;
  margin-left: 16px;
}

.aca-menu-panel {
  .action-button--active {
    color: var(--theme-accent-color) !important;
  }

  .action-button {
    color: var(--theme-primary-color);
  }

  .action-button:hover {
    color: var(--theme-accent-color);
  }
}

.sidenav {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  background-color: var(--theme-background-color);

  .section:last-child {
    border-bottom: 0;
  }

  .action-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .section.action-menu {
    padding: 8px 14px;
    position: sticky;
    padding: 25px 0 25px 20px;
  }

  // .section-sub-actions {
  //   overflow-y: auto;
  // }

  .section {
    padding: 8px 6px;
    // border-bottom: 1px solid var(--theme-divider-color);
  }

  .section--collapsed {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list-item {
    padding: 12px 0;
    display: flex;
    align-items: center;
    height: 24px;
  }

  .menu {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .full-width {
    display: flex;
    width: 100%;
  }

  .action-button--active {
    color: var(--theme-primary-color) !important;
  }

  .action-button {
    color: var(--theme-text-color);
  }

  .action-button .action-button__label {
    margin: 0 8px !important;
  }

  .app-item,
  .app-item .item {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .item {
    padding: 12px 0;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 24px;
    width: 100%;
    user-select: none;
  }

  .item:hover .action-button__label {
    color: var(--theme-primary-color);
  }

  .mat-expansion-panel-header {
    padding: 0 8px 0 0 !important;
    display: flex;
    align-items: center;
    font-size: 14px !important;
  }

  .mat-expansion-panel {
    width: 100%;
    background-color: unset;
    box-shadow: none !important;
  }

  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
    background: none !important;
  }

  .mat-expansion-indicator {
    display: flex;
    align-content: center;
  }

  .mat-expansion-panel-body {
    padding-bottom: 0;
  }

  .mat-expansion-panel-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

[dir='rtl'] .sidenav {
  .mat-expansion-panel-header {
    padding: 0 0 0 8px !important;
  }
}
.studio-main-navigation {
  width: 289px;
  height: 844px;
  background: var(--theme-ama-var-selector-bg-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 35px;
  padding-top: 15px;
  position:absolute;
  top: 0px;
  // border: 1px solid rgb(220,220,220);
  border:none;
  &-container {
      width: 100%;
  }

  &-header {
      width: 100%;
      display:flex;
      justify-content: space-between;
      align-items: flex-start;

      &-title {
          display:flex;
          align-items: center;
          width: 100%;
          // margin-left: 30px;

          .studio-logo {
              display:flex;

              &-circle {
                  width: 22px;
                  height: 22px;
                  background-color:  var(--theme-primary-color);
                  border-radius: 11px;
              }

              &-square {
                  width: 18px;
                  height: 18px;
                  background-color: #ff9015;
                  border-radius: 2px;
                  position: relative;
                  left: -8px;
                  top: 2px;
                  transform: rotate(45deg);
              }
          }

          &-text {
              font-size: 16px;
              line-height: 22px;
              margin-left: 12px;

              @media only screen and (max-width: 865px) {
                  font-size: 11px;
                  margin-left: 0;
              }
          }

          @media only screen and (max-width: 865px) {
              flex-wrap: wrap;
              align-items: flex-start;
              justify-content: flex-start;
              flex-direction: column-reverse;
          }
      }

      &-controls {
          display: flex;
          align-items: center;
          padding: 5px;
          width: 40%;
          justify-content: space-around;

          adf-notification-history {
              .mat-badge-content {
                  background: var(--theme-primary-color);
              }
          }
      }
  }

  &-section {
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 14px;
      // margin:11%;
  }

  &-main-title {
      font-family: var(--theme-font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
      letter-spacing: 0.2px;
      text-transform: capitalize;
  }

  &-menu {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      list-style-type: none;
      width: 100%;

      &-element {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          display: flex;
          align-items: center;
          letter-spacing: 0.25px;
          width: 100%;

          .mat-icon-button {
              display: inherit;
              align-items: center;
          }

          &-button {
              display: flex;
              justify-content: flex-start;
              align-items: center;
          }

          &-active {
              color: var(--theme-primary-color);
          }
      }
  }

  @media only screen and (max-width: 865px) {
      // width: 195px;
      padding-left: 15px;
  }
  


}



